body {
    background-color: #202020;
}
#canvas {
    background-color: #111111;
}
#start-button {
  font-family: Quicksand,sans-serif;
  font-weight: 800;
    color: lightgray;
    font-size: 3vh;
    background-color: rgba(130, 0, 0, 0.5);
    border: 1px solid rgb(255, 0, 0);
    border-radius: 4%;
    padding: 10px 60px;
    transition: all .5s ease;
    z-index: 10;
    position: absolute;
    margin-top: -48.335px;
    margin-left: -89.335px;
    left: 50%;
    top: 50%;
}
#start-button:hover {
  cursor: pointer !important;
  background-color: red;
  color: black;
}
.desactivate {
    display:none;
}
